{%- capture youtube_url -%}
https://www.youtube.com/embed/{{ include.id }}?color={{ include.color | default: 'red' }}&controls={{ include.controls | default: 1 }}&fs={{ include.fs | default: 1 }}&rel={{ include.rel | default: 0 }}
{%- if include.autoplay -%}&autoplay={{ include.autoplay }}{%- endif -%}
{%- if include.cc_load_policy -%}&cc_load_policy={{ include.cc_load_policy }}{%- endif -%}
{%- if include.disablekb -%}&disablekb={{ include.disablekb }}{%- endif -%}
{%- if include.end -%}&end={{ include.end }}{%- endif -%}
{%- if include.mute -%}&mute={{ include.mute }}{%- endif -%}
{%- if include.playsinline -%}&playsinline={{ include.playsinline }}{%- endif -%}
{%- if include.start -%}&start={{ include.start }}{%- endif -%}
{%- if include.loop == 1 -%}
  &loop=1&playlist={{ include.id }}{%- if include.next_id -%},{{ include.next_id }}{%- endif -%}
{%- elsif include.next_id -%}
  &playlist={{ include.id }},{{ include.next_id }}
{%- endif -%}
{%- endcapture -%}

<iframe
  class="embed-video"
  loading="lazy"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  src="{{ youtube_url | strip }}"
></iframe>
